/* card */

.card {
     display: block;
     height: 325px;
     width: 260px;
     border: none;
}

.card-img-top {
     height: 210px;
     width: 100%;
     background-color: #F5F5F5;
}

.card-body {
     height: 115px;
     width: 100%;
     text-align: center;     
}

.card-body span{
     display: flex;
     justify-content: center;
     gap: 0.5rem;
}

.__card-rating {
     color: #FF7373;
     margin: 0.2rem 0;
}

.__card-previous-price {
     color: #BEBEBE;
     font-weight: var(--font-w-regular);
     text-decoration: line-through;
}

.__card-current-price {
     font-weight: var(--font-w-semibold);
     color: var(--fixxo-dark);
}

/* info-card */

.__info-card {
     height: 230px;
     width: 490px;
     display: flex;
}

.__info-card h3 {
     color: var(--fixxo-dark);
     font-size: var(--size-20);
     font-weight: var(--font-w-semibold);     
}

.__info-card .__left {
     flex: 1;
     height: 100%;
     background-color: var(--color-white);
     position: relative;
}

.__info-card .__left .__textbox {
     position: absolute;
     left: 2rem;
     bottom: 5rem;
}

.__info-card .__left a {
     color: var(--fixxo-dark);
     border-bottom: 1px solid var(--fixxo-dark);
}

.__info-card .__right {
     flex: 1;
     height: 100%;
     background-color: var(--fixxo-grey-2);
}