
/* card */

.card {
     border: none;
}

.card .__fixxo-button {
     width: 100%;
     position: absolute;
     left: 0;      
     bottom: 0;
     z-index: 1;
     transition: 0.3s;
}
     .card:hover .__fixxo-button {
          bottom: 130px;
     }
          .card .__fixxo-button:hover {
               transform: none;
               filter: none;
               background-color: var(--fixxo-dark);
          }

.card:hover .__card-overlay {
     height: 200px;
     top: 0;
}
.__card-overlay {
     height: 200px;
     width: 100%;
     position: absolute;
     bottom: 0;
     left: 0;

     filter: brightness(100%);

     z-index: 1;
     transition: 1s;
}


.card:hover .__card-overlay-menu {
     height: 150px;
     top: 0;
}
.__card-overlay-menu {
     height: 130px;
     width: 80px;
     
     position: absolute;
     top: 200px;
     right: 0;
     z-index: 1;
     
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     
     list-style: none;
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;

     transition: 0.3s;
}
     .__card-overlay-menu a {
          text-align: center;
     }

.__card-img {
     height: 200px;
     position: relative;
     background-color: var(--fixxo-grey-3);
     z-index: 0; 
}

.__card-body {     
     height: 130px;
     position: relative;
     bottom: 0;
     left: 0;
     background-color: #FFFFFF;
     text-align: center;
     z-index: 2;   

}
     .__card-body span {
          display: flex;
          gap: 0.5rem;
     }

.__card-rating {
     color: #FF7373;
}

.__card-previous-price {
     color: #BEBEBE;
     font-weight: var(--font-w-regular);
     text-decoration: line-through;
}

.__card-current-price {
     font-weight: var(--font-w-semibold);
     color: var(--fixxo-dark);
}



/* tall card */

.__tall-card {
     display: block;
     height: 330px;
     width: 260px;
     border: none;
}
     .__tall-card .__card-img {
          width: 100%;
     }

     .__tall-card .__card-body {
          width: 100%;
     }
          .__tall-card .__card-body span {
               justify-content: center;
          }
          .__tall-card .__card-title {
               padding-top: 1rem;     
          }



.__wide-card {
     display: flex;
     align-items: center;
     height: 150px;
     width: 100%;
}
     .__wide-card .__card-img {
          height: 100%;
          width: 150px;          
          background-color: #F5F5F5;
     }
     .__wide-card .__card-body {
          text-align: left;
          padding-left: 1rem;      
     }
          .wide-card .__card-body span {
               justify-content: left;
          }


          
/* info-card */

.__info-card {
     height: 230px;
     width: 490px;
     display: flex;
}

.__info-card h3 {
     color: var(--fixxo-dark);
     font-size: var(--size-20);
     font-weight: var(--font-w-semibold);     
}

.__info-card .__left {
     flex: 1;
     height: 100%;
     background-color: var(--color-white);
     position: relative;
}

.__info-card .__left .__textbox {
     position: absolute;
     left: 2rem;
     bottom: 5rem;
}

.__info-card .__left a {
     color: var(--fixxo-dark);
     border-bottom: 1px solid var(--fixxo-dark);
}

.__info-card .__right {
     flex: 1;
     height: 100%;
     background-color: var(--fixxo-grey-2);
}