/* hero */

.__hero {
     height: 100%;
     background-color: var(--fixxo-grey-3); /* For browsers that do not support gradients */
     background-image: linear-gradient(to right, #e7e7e7, var(--fixxo-grey-3));
     padding-top: 80px;
}

.__hero .__container {
     height: 100%;   
     justify-content: space-between;
}

.__hero .__center {
     display: block;
     text-align: center;
}
     .__hero .__center h1{
          font-size: var(--size-65);
          font-weight: var(--font-w-extrabold);
     }
          .__hero .__center h1:first-child {
               text-transform: uppercase;
          }

     .__hero .__center p {
          font-size: var(--size-20);
          font-weight: var(--font-w-regular);
          margin: 1rem 0 1rem 0;
     }