/*   fixa                                                     
     0  General, buttons, footer ---------------------      styles.css
     1  Navbar ---------------------------------------      navbar.css
     2  Hero -----------------------------------------      hero.css
     3  "Winter Clearence" & "New Arrivals" ----------      banner.css         
     4  "Featured Products" --------------------------      showcase.css
     5  "Pamela Reif's" & "Let's be Conscious" -------      banner.css
     6  "Our Speciality" / Customer Info -------------      styles.css
     7  Promotion box & 2x2 product display grid -----      showcase.css    
     8  "70% off" promotion banner -------------------      banner.css 
     9  Product top list 3 column product display grid      showcase.css
     10 Customer/Shopping info ---------------------------- banner.css  
*/



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

:root {
     --fixxo-theme: #FF7373;
     --fixxo-dark: #23262A;
     --fixxo-grey-1: #616365;
     --fixxo-grey-2: #BBBBBB;
     --fixxo-grey-3: #F5F5F5;
     --color-white: #FFFFFF;

     --color-facebook: #3B5998;
     --color-google: #4285F4;

     --font-poppins:'Poppins', sans-serif;

     --font-w-medium: 500;
     --font-w-semibold: 600;
     --font-w-bold: 700;
     --font-w-extrabold: 800; 

     --size-13: 0.8rem;
     --size-14: 0.9rem;
     --size-16: 1rem;
     --size-18: 1.13rem;
     --size-20: 1.25rem;
     --size-35: 2.2rem;
     --size-45: 2.8rem;
     --size-65: 4rem;
     
     --border-radius-small: 8px;
     --border-radius-medium: 25px;
     --border-radius-rounded: 50%;

     --wsxga: 1680px;
}



/* general elements */

html, body, a {
     font-size: 16px;
     line-height: 1.5;
     font-family: var(--font-poppins);
     font-weight: var(--font-weight-regular);
     text-decoration: none;
}

h1, h4, p {
     margin: 0;
     padding: 0;
}

h2 {
     font-size: var(--size-45);
     font-weight: var(--font-w-bold);
     margin: 0;
     padding: 0;
}

h3 {
     font-size: var(--size-20);
     font-weight: var(--font-w-bold);
     color: var(--fixxo-dark);
}

h4 {
     font-size: var(--size-16);
     font-weight: var(--font-w-semibold);
     color: var(--fixxo-dark);
     text-transform: capitalize;
}

h5 {
     font-size: var(--size-13);
     font-weight: var(--font-w-medium);
     color: var(--fixxo-grey-2);
     text-transform: capitalize;
}

section {
     margin-bottom: 4rem;
}

.container {
     width: 1140px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.__container-wide {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 1680px;
     margin: auto;
     padding: 0;
}

.__section-title {
     height: 6rem ;
     text-align: center;
     margin: auto;
     padding-top: 3rem;
}



/* fixa */

.br {
     border: 1px solid red;  
}
.by {
     border: 1px solid yellow;  
}
.bb {
     border: 1px solid blue;  
}



/* buttons */

.__fixxo-button {
     position: relative;

     height: 50px;
     width: 150px;    
     border: none;

     font-size: var(--size-16);
     font-weight: var(--font-w-semibold);
     color: var(--color-white);
     text-transform: uppercase;
     transition: 0.2s;

     margin-top: 2rem;
}

     .__fixxo-button::before {
          content: "";
          height: 15px;
          width: 15px;
          position: absolute;
          top: 8px;
          left: 8px;
          border-top: 2px solid var(--color-white);
          border-left: 2px solid var(--color-white);
     }

     .__fixxo-button::after {
          content: "";
          height: 15px;
          width: 15px;
          position: absolute;
          bottom: 8px;
          right: 8px;
          border-bottom: 2px solid var(--color-white);
          border-right: 2px solid var(--color-white);
     }

     .__fixxo-button:hover {
          transform: scale(110%);
          filter: brightness(103%);
     }

.__button-theme {
     background-color: var(--fixxo-theme);
}

.__button-dark {
     background-color: var(--fixxo-dark);
}

.__button-light {
     background-color: var(--color-white);
     color: var(--fixxo-dark);
}
     .__button-light::before {
          border-top: 2px solid var(--fixxo-dark);
          border-left: 2px solid var(--fixxo-dark);
     }

     .__button-light::after {
          border-bottom: 2px solid var(--fixxo-dark);
          border-right: 2px solid var(--fixxo-dark);
     }



/* our speciality */

.__our-speciality .__section-title {
     width: var(--wsxga);
     background-color: var(--fixxo-grey-3);
}

.__our-speciality .__container-wide {
     background-color: var(--fixxo-grey-3);
     gap: 2rem;
     padding-bottom: 6rem;
}

























/* section-3 */

.section-3 {
     background-color: #e7e7e7;
}
