.banner-box {
     position: relative;
}

.banner-textbox {
     z-index: 2;
}
     .banner-textbox p {
          margin-top: 1rem;
     }





/* split banner */

.split-banner .__container-wide {
     max-width: 100vw;
     display: block;
}

.split-banner .__left {
     height: fit-content;
     position: relative;
     background-color: var(--fixxo-purplegray);
}
     .split-banner .__left img {
          display: none;
     }
     .split-banner .__left .banner-textbox {
          width: 100vw;
          position: relative;
          padding: 2rem 1rem;     
     }

.split-banner .__right {
     display: none;
     /* position: relative;
     display: flex;
     justify-content: center;
     align-items: center; */
}
     .split-banner .__right img {
          position: relative;
          top: 0;
          left: 0;
     }
     .split-banner .__right .banner-textbox {
          position: absolute;
          text-align: center;
          padding: 0 1rem;     
     }



@media (min-width: 1600px) {

     .split-banner .__container-wide {
          display: flex;
          max-width: fit-content;
          justify-content: center;
     }

     .split-banner .__left {
          flex: 6;
          position: relative;
     }
          .split-banner .__left img {
               display: block;
          }
          .split-banner .__left .banner-textbox {
               width: 500px;
               position: absolute;
               bottom: 7rem;
               left: 4rem;
               padding: 0 1rem;      
          }
     
     .split-banner .__right {
          display: block;
          flex: 4;
          position: relative;
     }   
          .split-banner .__right .banner-textbox {
               position: absolute;
               bottom: 7rem;
               left: 3rem;
               text-align: start;     
          }
}





/* double banner */

.double-banner .__container-wide {
     gap: 2rem;
}

.double-banner .__left {
     position: relative;
}
     .double-banner .__left .banner-textbox {
          width: max-content;
          position: absolute;
          bottom: 6rem;
          right: 4rem;
     }

.double-banner .__right {
     position: relative;
}
     .double-banner .__right .banner-textbox {
          position: absolute;
          bottom: 6rem;
          left: 4rem;
     }



/* single-banner */

.single-banner {
     height: 326px;
}

.single-banner .container-wide {
     height: 100%;
     background-color: var(--fixxo-grey-1);
}

.single-banner .banner-textbox {
     display: block;
     position: relative;
     text-align: center;
     left: 0;
     color: var(--color-white);
}