.contact-section .container {
     justify-content: center; 
     align-items: center;
}

.contact-section .container-flex {
     width: 100%; 
     height: 360px; 
}

.contact-form {
     width: 100%;
     padding: 2rem 0 2rem 0;
} 

.contact-form form {

     display: grid;
     gap: 2rem;
     grid-template-columns: 1fr 1fr;
     /* grid-template-rows: 2fr; */
}

.contact-form form textarea {
     grid-column: 1 /-1 ;
}