/* navbar */

.top-navbar {
     width: 100%;
     position: fixed;
     z-index: 9;
}

.top-navbar .container-wide {
     height: 70px;
     justify-content: space-between;
     position: relative;
}

     .top-navbar .left {
          width: fit-content;
          display: flex;
          margin-left: 0.5rem;
     }

     .top-navbar .right {
          height: 100%;
          width: fit-content;
          display: flex;
          align-items: center;
          margin-right: 1rem;
          gap: 1rem;
     } 

     .top-navbar .center {
          display: none;
     }

.mobile-menu {
     height: 120px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: flex-start;
     position: absolute;
     top: 100%;
     left: 0.5rem;
}

@media (min-width: 768px) {

     .top-navbar {
          height: 80px;
          width: 100vw;
          
          display: flex;
          justify-content: space-between;
          align-items: center;
     
          position: fixed;
          z-index: 9;
     }
     
     .top-navbar .container-wide {
          display: flex;
          width: 100%;
     }
          .top-navbar .container-wide > div {
               display: flex;
               gap: 1rem;     
          }
     
          .top-navbar .left {
               justify-content: flex-start;
               flex: 2;
          }
     
          .top-navbar .center {
               justify-content: center;              
               font-size: var(--size-16);
               font-weight: var(--font-w-medium);
               flex: 3;
          }
     
          .top-navbar .right {
               flex: 2;
               gap: 1rem;
               justify-content: flex-end;
          } 

     .triple-bar-button {
          display: none;
     }
     .mobile-menu {
          display: none;
     }
}





.top-navbar NavLink {
     color: var(--fixxo-dark);
     transition: 0.3s;
}

.top-navbar .center NavLink:hover {
     color: var(--fixxo-theme);
}
.top-navbar .center .active {
     color: var(--fixxo-theme);
     text-decoration: none;
}

.bg-white {
     background-color: var(--color-white);
     box-shadow: 0px 0px 10px var(--fixxo-grey-2);
     transition: 0.2s;
}

.logo {
     font-size: var(--size-35);
     font-weight: var(--font-w-bold);
}

