
/* showcase general */

.__showcase .__container-wide {
     display: flex;
     justify-content: space-between;
}
     .__showcase .__container-wide > div {
          position: relative;
     }

.__showcase .__left img {
     z-index: 1;
} 

.__showcase .__right img {
     z-index: 1;
}



/* showcase grid 2x4 "featured products" */

.__featured-products .container {
     display: flex;
     justify-content: center;
     gap: 2rem;
     margin-bottom: 2rem; 
}

@media (min-width: 1140px) {}






/*  showcase grid */

.__showcase-grid .__container-wide {
     height: 682px;
     justify-content: center;
     gap: 2rem;
     margin: 2rem auto;
}
     .__showcase-grid .__container-wide > * {
          width: 50%; 
     }

     .__showcase-grid .__showcase-container-1x1 {
          height: 100%;
          background-color: var(--fixxo-grey-2);
     }
          .__showcase-container-1x1 .__showcase-textbox {
               display: block;
               position: relative;
               text-align: center;
               left: 0;
          }

          .__showcase-grid .__showcase-container-2x2 {
          display: flex;
          align-items: center;
     }
          #showcase-container-2x2-upper {
               justify-content: left;
          }
          #showcase-container-2x2-lower {
               justify-content: right;
          }

.__grid {     
     display: grid;
     width: min-content;
     gap: 2rem;
     grid-template-columns: repeat(2, minmax(260px, 325px));
     grid-template-rows: repeat(2, minmax(260px, 325px));
}

#grid-tile-sm-tl {
     grid-column: 1 / 2;
     grid-row: 1 / 2;
}

#grid-tile-sm-tr {
     grid-column: 2 / -1;
     grid-row: 1 / 2;
}

#grid-tile-sm-bl {
     grid-column: 1 / 2;
     grid-row: 2 / -1;
}

#grid-tile-sm-br {
     grid-column: 2 / -1;
     grid-row: 2 / -1;
}



/* showcase columns "product top lists" */

.__showcase-columns .container {
     justify-content: space-between;
     gap: 2rem;  
}

.__showcase-columns .container > div {
     display: flex;
     flex-wrap: wrap;
     gap: 2rem;
     flex: 1;
}

