/* showcase columns "product top lists" */

.product-top-lists .container {
     justify-content: space-between;
     gap: 2rem;  
}

.product-top-lists .container > div {
     display: flex;
     flex-wrap: wrap;
     gap: 2rem;
     flex: 1;
}